@mixin pos-center-x($type: absolute) {
  //fixed도 넣을 수 있게 인자처리 (넣지 않으면 기본값은 absolute)
  @if ($type==fixed or $type==absolute) {
    position: $type;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin pos-center-y($type: absolute) {
  @if ($type==fixed or $type==absolute) {
    position: $type;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin pos-center($type: absolute) {
  @if ($type==fixed or $type==absolute) {
    position: $type;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// .modal {
//   @include pos-center(fixed);
// }
