.my-menu {
  $tooltip-size: 12px;
  position: relative;

  &.is-active {
    .my-menu-button {
      border-color: $blue;
    }
    .my-menu-content {
      visibility: visible;
      opacity: 1;
      transform: translate3d(-50%, 0, 0);
    }
  }

  &-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid $white;
    overflow: hidden;
    transition: all 0.2s ease-in-out;

    // 기본 유저 이미지 설정
    background-image: url('./assets/images/img-user-default.png');
    background-size: contain;
    background-position: center center;

    &:hover {
      border-color: $blue;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    @include pos-center-x; //mixin 안에 position : absolute 포함됨
    box-shadow: $dropdown-shadow;
    border-radius: 4px;
    top: 50px;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(
      -50%,
      -10px,
      0
    ); //pos-center-x 에서 기본 x축 값이 -50% 이므로!
    transition: all 200ms ease-in-out;

    &::before,
    &::after {
      @include pos-center-x;
      content: ''; //❗️❗️ 가상요소에는 반드시 content 넣기 ❗️❗️
      display: block; // inline 요소이기 때문에
      width: 0;
      height: 0;
      top: -#{$tooltip-size * 2};

      // top-bottom / right-left 두께가 같아야 한다.
      border-top: $tooltip-size solid transparent;
      border-bottom: $tooltip-size solid $border;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
    }

    &::after {
      border-bottom-color: $white;
      top: -#{$tooltip-size * 2 - 2px};
    }
  }

  &-list {
    border-radius: 4px;
    border: 1px solid $border;
    background-color: $white;
    width: 200px;
    padding: 8px;
  }

  &-item {
    transition: all 0.2s ease-in-out;

    a,
    button {
      width: 100%;
      @include flexbox(start); //세로로는 중앙정렬, 가로로는 왼쪽 정렬
      @include text-style(16, $primary);
      height: 44px;
      padding: 8px;
      border-radius: 2px;

      &:hover {
        background-color: $background;
      }
    }
  }
}
