.product-carousel {
  $grid-margin: 15px;

  position: relative;

  &-slider {
    margin: 0 -#{$grid-margin};
  }

  &-thumbnail {
    @include pos-center-x;
    bottom: 16px;
  }

  .thumbnail-list {
    @include flexbox;
  }

  .thumbnail-item {
    @include flexbox;
    margin: 0 4px;

    //브라우저 엘리멘트 탭에서 버튼을 클릭해보면 tns-nav-active라는 클래스가 생김
    &.tns-nav-active {
      button {
        // transition을 주기 위해 width 변경보다 scale로 크기 변경
        transform: scale(1.33333);
        opacity: 1;
      }
    }
    button {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      box-shadow: $dropdown-shadow;
      opacity: 0.7;
      background-color: $white;
      transition: all 100ms ease-in-out;
    }

    img {
      display: none;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include responsive(T) {
    padding-right: 30px; //컬럼 6개에서 -30px
    margin-bottom: 40px; //product-tab과 간격늘리기 용도

    &-slider {
      margin: 0;
      border-radius: 4px;
      overflow: hidden;
    }

    &-thumbnail {
      @include flexbox(start);
      position: static;
      transform: none;
      margin-top: 8px;
    }

    .thumbnail-list {
      @include flexbox(start);
    }

    .thumbnail-item {
      margin: 0 8px 0 0;

      &.tns-nav-active {
        button {
          transform: none;
          border: 2px solid $blue;
        }
      }
      button {
        @include flexbox; // border가 생겨도 이미지가 움직이지 않도록 위치 고정
        width: 56px;
        height: 56px;
        opacity: 1;
        border-radius: 4px;
        overflow: hidden;
      }

      img {
        display: block;
        // border가 생겨도 이미지가 작아지지 않도록 크기 고정
        width: 56px;
        height: 56px;
      }
    }
  }

  @include responsive(D) {
    @include flexbox(end, start);
    flex-direction: row-reverse;
    padding: 0;

    &-slider {
      width: 500px;
      height: 500px;
    }

    &-thumbnail {
      margin: 0 8px 0 0;
    }

    .thumbnail-list {
      @include culumn-flexbox(start);
    }

    .thumbnail-item {
      margin: 0 0 8px 0;

      &.tns-nav-active {
        button {
          transform: none;
          border: 2px solid $blue;
        }
      }
      button {
        @include flexbox; // border가 생겨도 이미지가 움직이지 않도록 위치 고정
        width: 75px;
        height: 75px;
      }

      img {
        // border가 생겨도 이미지가 작아지지 않도록 크기 고정
        width: 75px;
        height: 75px;
      }
    }
  }
}
