.review-card {
  padding: 20px 0;
  border-bottom: 1px solid $border;

  &-header {
    @include flexbox(start);
    margin-bottom: 20px;

    .avatar-24,
    .username {
      &:active {
        opacity: 0.4;
      }
    }

    .avatar-24 {
      margin-right: 8px;
    }

    .username {
      @include text-style(13, $primary);

      strong {
        font-weight: 400;
      }
    }

    .detail {
      @include flexbox(start);

      .misc {
        @include text-style(12, $secondary);
        margin-left: 4px;

        time::after {
          content: ' ·';
        }
      }
    }
  }

  &-body {
    margin-bottom: 20px;

    .review-image {
      width: 64px;
      height: 64px;
      margin-bottom: 8px;
      border-radius: 4px;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover; //꽉 채우기
      }
    }

    p {
      @include text-style(13, $primary);
    }
  }

  &-footer {
    @include flexbox(start);

    button {
      width: 120px;
      margin-right: 8px;

      i {
        margin-right: 4px;
        margin-left: -4px; //한쪽으로 쏠려 보이는 착시현상 방지
        font-size: 20px;
      }
    }

    p {
      @include text-style(12, $primary);

      strong {
        color: $dark;
      }
    }
  }

  @include responsive(T) {
    padding: 40px 0 40px 32px;

    &-body {
      .review-image {
        width: 112px;
        height: 112px;
        margin-bottom: 16px;
      }
    }

    &-header {
      margin-left: -32px;

      .username {
        @include text-style(14);
      }
    }

    &-body {
      p {
        @include text-style(14);
      }
    }
  }

  @include responsive(D) {
    &-header {
      .avatar-24,
      .username {
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
