%avatar-base {
  display: block; //div나 a나 strong 같은 태그에 쓰이면 깨질 수 있으니
  overflow: hidden;
  border: none;
  border-radius: 50%;

  // 유저 이미지 없을 때, 기본이미지 설정
  background-image: url('/assets/images/img-user-default.png');
  background-size: contain;
  background-position: center center;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; //💯background-cover랑 비슷
  }
}

.avatar-32 {
  @extend %avatar-base;
  width: 32px;
  height: 32px;
}
.avatar-24 {
  @extend %avatar-base;
  width: 24px;
  height: 24px;
}
