.gnb {
  position: relative;
  border-bottom: 1px solid $border;

  &-wrapper {
    @include flexbox(between);
    height: 50px;
  }

  .logo {
    @include pos-center;
    a {
      display: block;
    }
    img {
      display: block; //img는 display:block; 처리
      width: auto;
      height: 20px;
    }
  }

  &-menu-button {
    color: $blue;
  }

  &-right {
    .button-group {
      @include flexbox(end);
    }

    .gnb-icon-button.is-search {
      margin-right: 4px;
    }
  }

  @include responsive(T) {
    &-wrapper {
      height: 80px;
    }

    &-left {
      @include flexbox(start);
    }

    &-right {
      @include flexbox(end);

      .button-group {
        margin-right: 24px;

        .gnb-icon-button {
          margin-right: 8px;
        }
      }
    }

    .logo {
      position: static; //position : absolute center 해제
      transform: none; //transform 속성은 개별적으로 해제
      margin-right: 32px;

      img {
        height: 24px;
      }
    }

    .btn-primary {
      width: 88px;

      i {
        margin-left: 4px;
      }
    }
  }

  @include responsive(D) {
    &-right {
      .input-group {
        margin-right: 24px;
        width: 264px;
      }
    }
  }
}
