.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  @include no-scrollbar;
  overflow-x: auto;

  &-list {
    @include inline-flexbox(start);
    height: 40px;
    padding: 0 $grid-margin - $lnb-link-padding;
    margin-left: -#{$grid-margin};
    white-space: nowrap;
    border-bottom: 1px solid $border;

    .lnb-item {
      a {
        @include inline-flexbox; //container들끼리 수평 정렬, 별도의 width를 지정해주지 않으면 자식 contents만큼 정해짐
        @include text-style(13, $dark);
        font-weight: 700;
        height: 40px;
        padding: 0 $lnb-link-padding;
        border-bottom: 2px solid transparent;

        &:hover {
          color: $blue;
        }
      }

      &.is-active {
        a {
          color: $blue;
          border-bottom-color: $blue;
        }
      }
    }
  }
}
