$black: #000000;
$dark: #191a20;
$primary: #3f4150; //대부분의 일반 텍스트
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #e0e2e7; // 배경보다 한 단계 밝은 컬러는 대부분 보더
$background: #f7f8fa; //흰색보다 한 단계 밝은 컬러는 대부분 배경컬러
$white: #ffffff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
