// 변수와 관련된 선언들은 최상단에 import
@import './constants/colors';
@import './constants/typography';
@import './constants/breakpoints';
@import './constants/box-shadows';
@import './constants/z-indexes';

@import './base/fonts';
@import './base/normalize';
@import './base/reset';
@import './base/globals';

@import './mixins/text-style';
@import './mixins/responsive';
@import './mixins/positions';
@import './mixins/flexbox';

/*
- mixin 사용 예시

- 정의
@mixin flex($color){
  display: flex;
  color: $color;
}

- 사용
p{
  @include flex(blue);
}
*/

@import './modules/tags';
@import './modules/avatars';
@import './modules/star-ratings';
@import './modules/prices';
@import './modules/buttons';
@import './modules/forms';
@import './modules/pagination';
@import './modules/icons';

/*
-플레이스 홀더 사용 예시
// 인자를 받을 수 없음, 확장성이 떨어짐,

- 정의
%tag-base {
  @include inline-flexbox;
  border-radius: 4px;
}

- 사용
.tag-green {
  @extend %tag-base;
}
*/

// components : 모듈보다는 크고 레이아웃 보다는 작은 UI컴포넌트
@import './components/gnb-nav';
@import './components/gnb-icon-buttons';
@import './components/my-menu';
@import './components/drawer-menu';

@import './layouts/grids';
@import './layouts/gnb';
@import './layouts/sidebar';
@import './layouts/overlay';
@import './layouts/search-modal';
